@bg: #f9f9f9;
@yellow: #f6e82f;
@blue: #132588;
@blue_l: #1e1df6;
@pink: #fba2ae;

body {
	background: @bg;
	color: #797979;

	.bar {
		height: 40px;
		background: white;
	}

	.app-content {

		.header {
			text-align: center;
    		padding: 60px 0;
		}

		.title-wr {						
    		font-weight: 300;
			color: @blue_l;

			.logo-tx {
				font-family: 'Pacifico';
				color: @blue_l;
				font-size: 80px;
				margin-left: 10px;
			}
		}

		.desc-sm {
			font-size: 20px;		
		}

		.desc-wr {
			font-size: 24px;
		    padding: 50px 0;
		    position: relative;
		    line-height: 1.6;
		    font-weight: 300;
		    padding-top: 60px;

			&:before {
				content: "";
				width: 50px;
				height: 1px;
				display: block;
				background: @blue_l;
				top: 22px;
				left: calc(~"50% - 25px");
				position: absolute;
			}

			.desc-st {

			}
		}

		.desc-box {
			padding: 50px 0;
			margin: 40px 0;
			font-size: 25px;
    		font-weight: 300;
			color: white;
			background: linear-gradient(45deg, @blue_l, @pink);
		}
	}

	.content-wr {
		text-align: center;

		.start-wr {
			text-align: center;
		}

		.start-btn {
			width: 200px;
			height: 70px;
			line-height: 70px;
			font-size: 30px;
			font-weight: 300;
			text-align: center;
			color: white;
			background: linear-gradient(-45deg, @yellow, @pink);;
			display: inline-block;
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}
		}
		
		.form-user {
			//margin: 20px auto 50px auto;
			//width: 400px;
			margin-top: -50px;

			.desc-box {
				margin-top: -30px;
			}

			.form-st {
				&:nth-child(2n-1) {
					background: white;
				}
			}

			input {
				border-color: transparent;
				border-bottom: 1px solid #b5b5b5;
				box-shadow: none;
				border-radius: 0px;
				background: transparent;
			}

			label {
				font-size: 20px !important;
				position: relative;
				top: 8px;
			}
			
			button {
			margin-top: 10px;
				font-size: 22px;
			}
			
			label {
				font-size: 25px;
			}
			
			input {
				margin: 5px auto;
			}
			
		}

		.form-submit {
			margin-top: 45px;
		}

		.types-wr {
			display: none;
		}

		.col-md-4 {

			label {
				font-weight: 300;
			}
		}
	}
}